<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779272285919-v9c1gm7318qioeib9csv5ldreiqfgghq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779272285919-v9c1gm7318qioeib9csv5ldreiqfgghq</string>
	<key>API_KEY</key>
	<string>AIzaSyClYno465BhxaSablZJGoC3gvj7rjepXic</string>
	<key>GCM_SENDER_ID</key>
	<string>779272285919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udea.travesiaColombia2022</string>
	<key>PROJECT_ID</key>
	<string>minticciclo4-29b43</string>
	<key>STORAGE_BUCKET</key>
	<string>minticciclo4-29b43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779272285919:ios:f7e5d2101e70ca2fcb836a</string>
</dict>
</plist>